<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="br.com.pgnSoft.Games.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <br.com.pgnSoft.Games.Properties.Settings>
            <setting name="ListenController1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListenController2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListenController3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListenController4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenKodi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseEmulators" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KodiKeys" serializeAs="String">
                <value>ButtonBack;ButtonStart;LeftTrigger;RightTrigger</value>
            </setting>
            <setting name="EmulatorKeys" serializeAs="String">
                <value>ButtonBack;ButtonStart;LeftShoulder;RightShoulder</value>
            </setting>
        </br.com.pgnSoft.Games.Properties.Settings>
    </userSettings>
</configuration>
